#plan #list-of-plans li {
    width: 100%;
}

.plan-btn {
    width: 100%;
    padding: calc(var(--base-font-size) * 0.75) calc(var(--base-font-size) * 0.5);

    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    gap: var(--base-font-size);

    min-height: none;

    border: 1px solid
        hsl(var(--_border-color, var(--clr-primary-purplish-blue)) / var(--_border-opacity, 0.25));
}

@media only screen and (min-width: 1440px) {
    .plan-btn {
        padding: calc(var(--base-font-size) * 1.25) calc(var(--base-font-size) * 0.75);
        min-height: none;
        gap: calc(var(--base-font-size) * 1.5);
        justify-content: space-between;
    }
}

.plan-btn:hover,
.plan-btn[data-active="true"] {
    --_border-opacity: 1;

    background-color: hsl(var(--clr-primary-purplish-blue) / 0.075);
}
#pla n [data-plan]:not([data-chosen="true"]) {
    color: hsl(var(--clr-neutral-cool-gray) / var(--_text-opacity, 1));
}
